@page
@model PRN221_BirthdayBookingParty.Pages.AboutUsModel
@{

	<!-- Start Hero Section -->
				<div class="hero">
					<div class="container">
						<div class="row justify-content-between">
							<div class="col-lg-5">
								<div class="intro-excerpt">
									<h1>About Us</h1>
										<p class="mb-4">We aim to make your child's special day even more special.</p>
									<p><a asp-page="/Booking" class="btn btn-secondary me-2">Book Now</a>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="hero-img-wrap">
									<img src="images/couch.png" class="img-fluid">
								</div>
							</div>
						</div>
					</div>
				</div>
	<!-- End Hero Section -->

	<!-- Start Why Choose Us Section -->
			<div class="why-choose-section">
				<div class="container">
					<div class="row justify-content-between align-items-center">
						<div class="col-lg-6">
							<h2 class="section-title">Why Choose Us</h2>
							<p></p>

							<div class="row my-5">
								<div class="col-6 col-md-6">
									<div class="feature">
											<svg viewBox="0 0 400 400" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M89.5817 120C58.6934 91.5024 74.0344 44.757 110.302 41.133C127.029 39.4629 149.113 54.0714 159.999 54.0714C194.568 54.0714 228.221 27.2561 260.493 54.0714C279.192 69.6052 269.699 99.5044 257.006 107.036" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M90 117C142.667 111.566 197.696 95.755 250 112.449" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M93.0559 139C92.8995 145.073 93.028 151.088 94 157" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M97 155.173C145.65 132.936 205.18 134.027 254 156" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M253 131C253.464 138.692 254 146.28 254 154" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M93.7931 186.199C85.6744 187.218 87.5015 211.695 103.941 211.695C103.941 305 263.001 295 247.277 202.221C256 202.221 265.677 181.04 253.5 179" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M160 206C160.457 203.005 160.774 199.981 161 197" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M196 206C196 203.545 196 200.005 196 197" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M186 245C179.911 247.785 172.5 249.957 168 245.225" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M38 360C47.0818 317.424 79.2813 287.286 125.151 287.286C125.88 287.286 154.503 315.535 180.414 313.586C203.33 311.863 216.097 294.682 235.003 287.286C263.137 276.278 307 338.995 307 358.456" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M350 159C338.607 183.953 286.988 272.605 292.396 306" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M353.983 156C361.109 192.062 371.983 282.642 333 308" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M328 304C318.437 300.114 309.042 295.03 299 293" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M294.975 308C285.934 328.2 276.314 343.303 299 320.79" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M311 320C308.736 331.403 297.744 346.679 290 331.889" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M211 336.863C210.815 349.971 203 348.348 203 336" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M146 351.449C135.34 353.573 138.871 349.231 143.412 344" stroke="#000000" stroke-opacity="0.9" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
											<h3>World’s best Chef</h3>
										<p></p>
									</div>
								</div>

									<div class="col-6 col-md-6 natural">
									<div class="feature">
											<svg fill="#000000" height="200px" width="200px" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M21.1,10.5l0.3-0.2c0.4-1,1.1-1.8,2-2.3c0,0,0.1,0,0.1,0c0-0.1-0.1-0.1-0.1-0.2c-0.4-0.7-1-1.2-1.8-1.3 c-0.8-0.2-1.5-0.1-2.2,0.3c-0.7,0.4-1.2,1.1-1.4,1.9l-0.3,0.1C19,9.2,20.1,9.8,21.1,10.5z"></path> </g> <path d="M29.4,12.4c-0.2-0.3-0.4-0.5-0.6-0.7c-0.1-0.3-0.2-0.6-0.3-0.9c-0.4-0.7-1-1.2-1.8-1.3c-0.8-0.2-1.5-0.1-2.2,0.3 c-0.7,0.4-1.2,1.1-1.4,1.9l-2.1,1.2c0,0,0,0,0,0c-0.2,0.1-0.5,0.1-0.7,0.1c-1.3-0.4-3.2,0-4.9,1c-1.3,0.7-2.4,1.8-2.9,2.8 c-0.2,0.3-0.5,0.5-0.9,0.5c-0.2,0-0.3,0-0.5-0.1c-0.5-0.3-0.7-0.9-0.4-1.4c0.8-1.4,2.1-2.6,3.7-3.6c1.1-0.6,2.3-1.1,3.4-1.3 C16.3,10.3,14.7,10,13,10c-6.1,0-11,4.2-11,9.3C2,26,10.3,26,13,26c2.3,0,8.3,0,10.3-3.8c-0.2,0.2-0.3,0.3-0.5,0.5 c-0.2,0.2-0.4,0.3-0.7,0.3c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.3-1,0.1-1.4c0.9-0.8,1.5-1.8,1.8-2.6c0.1-0.3,0.3-0.6,0.7-0.7l2-1.2 c0.8,0.2,1.6,0.2,2.4-0.3C29.7,15.6,30.2,13.8,29.4,12.4z"></path> </g></svg>											
										<h3>Natural ingredients</h3>
										<p></p>
									</div>
								</div>

								<div class="col-6 col-md-6">
									<div class="feature">
											<svg fill="#000000" viewBox="0 0 24 24" id="quality-3" data-name="Line Color" xmlns="http://www.w3.org/2000/svg" class="icon line-color"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><polyline id="secondary" points="11 8 12 7 12 13" style="fill: none; stroke: #2ca9bc; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></polyline><line id="secondary-2" data-name="secondary" x1="11" y1="13" x2="13" y2="13" style="fill: none; stroke: #2ca9bc; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></line><polyline id="primary" points="5.79 13.57 3 17.56 6.03 18.46 7.91 21 10.79 16.89" style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></polyline><polyline id="primary-2" data-name="primary" points="18.21 13.57 21 17.56 17.97 18.46 16.09 21 13.21 16.89" style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></polyline><circle id="primary-3" data-name="primary" cx="12" cy="10" r="7" style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></circle></g></svg>
											<h3>Best quality products</h3>
										<p></p>
									</div>
								</div>

								<div class="col-6 col-md-6">
									<div class="feature">
											<svg fill="#000000" height="200px" width="200px" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M5.9,18l1.2,2.4C7.3,20.8,7.6,21,8,21h17c0.4,0,0.7-0.2,0.9-0.6l1.2-2.4H5.9z"></path> <path d="M4,17h1.4h22.2H29c0.6,0,1-0.4,1-1s-0.4-1-1-1h-1c-0.2-5.3-4.1-9.7-9.1-10.8C18.9,4,19,3.8,19,3.5C19,2.1,17.9,1,16.5,1 S14,2.1,14,3.5c0,0.3,0.1,0.5,0.1,0.7C9.1,5.3,5.3,9.7,5,15H4c-0.6,0-1,0.4-1,1S3.4,17,4,17z"></path> </g> <path d="M24.6,22.3C24.5,22.1,24.2,22,24,22c-0.4,0-0.7,0-1.1,0.1l-1.1,1.5C20.7,25.1,18.9,26,17,26h0h-0.3H16h-1.3H14 c-0.6,0-1-0.4-1-1s0.4-1,1-1h3.5c0.3-0.3,0.5-0.8,0.5-1.3c0,0,0-0.1,0-0.1c0-0.4-0.3-0.6-0.7-0.6h-4c-2.4,0-4.3,1.1-5.4,2.8 l-1.8,2.8c-0.1,0.2-0.1,0.5,0,0.7l2,3.3c0.1,0.2,0.2,0.3,0.4,0.3c0,0,0.1,0,0.1,0c0.1,0,0.3,0,0.4-0.1c2.5-1.7,5.5-2.6,8.5-2.6 c2.2,0,4.2-1.2,5.2-3.1l1.8-3.2C24.7,22.8,24.7,22.5,24.6,22.3z"></path> </g></svg>
											<h3>Fresh vegetables & Meet</h3>
										<p></p>
									</div>
								</div>

							</div>
						</div>

						<div class="col-lg-5">
							<div class="img-wrap">
									<img src="~/images/BirthdayKids.jpg" alt="Image" class="img-fluid">
							</div>
						</div>

					</div>
				</div>
			</div>
	<!-- End Why Choose Us Section -->
}
