@page
@model PRN221_BirthdayBookingParty.Pages.BookingDeleteModel
@{
    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Delete Confirmation</h1>
                <p class="card-text">Are you sure you want to delete this booking ?</p>
                <form method="POST">
                    <button asp-route-id="@Model.BookingId" type="submit" class="btn btn-danger">OK</button>
                    <a asp-page="/BookingList" class="btn btn-primary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
}
