@page
@model PRN221_BirthdayBookingParty.Pages.ChangePasswordModel
@{
        <div class="container mt-4">
        <h3>Change Password</h3>
        <form method="post">
            <input type="hidden" asp-for="Email" class="form-control">
            <div class="form-group">
                <label>New Password:</label>
                <input type="password" asp-for="NewPassword" class="form-control" required>
                <span asp-validation-for="NewPassword" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label>Confirm Password:</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" required>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            @if (Model.ModelState.ErrorCount > 0)
            {
                    <div class="alert alert-danger" role="alert">
                    @foreach (var error in Model.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        @error.ErrorMessage <br>
                    }
                    </div>
            }
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

    
}
