@page
@model PRN221_BirthdayBookingParty.Pages.ForgotPasswordModel
@{
    <div class="container mt-4">
            <div class="card">
                <div class="card-header">
            <h3 class="card-title">Send Email</h3>
        </div>
        <div class="card-body">
            <form method="post">
            <div class="form-group">
            <label>Email:</label>
            <input type="email" asp-for="Email" class="form-control" required>
        </div>
        <input type="hidden" asp-for="Email"> <button type="submit" class="btn btn-primary">Send OTP</button>
    </form>
            </div>
            </div>
    </div>

    @if (Model.ModelState.ErrorCount > 0)
    {
            <div class="alert alert-danger" role="alert">
            @foreach (var error in Model.ModelState.Values.SelectMany(v => v.Errors))
            {
                @error.ErrorMessage <br>
            }
            </div>
}
}
