@page
@model PRN221_BirthdayBookingParty.Pages.RegisterModel

<br>

<form method="POST" id="register-form">

    <div class="mb-3">
        <label for="fullName" class="form-label">Họ và tên</label>
        <input type="text" name="fullName" id="fullName" class="form-control" required />
    </div>

    <div class="mb-3">
        <label for="phone" class="form-label">Số điện thoại</label>
        <input type="tel" name="phone" id="phone" class="form-control" required />
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" class="form-control" required />
    </div>

    <div class="mb-3">
        <label for="address" class="form-label">Địa chỉ</label>
        <input type="text" name="address" id="address" class="form-control" required />
    </div>

    <div class="mb-3">
        <label for="birthday" class="form-label">Ngày sinh</label>
        <input type="date" name="birthday" id="birthday" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Mật khẩu</label>
        <input type="password" name="password" id="password" class="form-control" required />
    </div>

    <div class="mb-3">
        <label for="confirm-password" class="form-label">Xác nhận mật khẩu</label>
        <input type="password" name="confirmPassword" id="confirm-password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Đăng ký</button>
</form>
<script>

    const form = document.getElementById('register-form');

    form.addEventListener('submit', (e) => {
        e.preventDefault();

        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirm-password').value;

        if (password !== confirmPassword) {
            alert('Mật khẩu xác nhận không khớp!');
            return;
        }
        form.submit();
    });

</script>