@page "/Service/Create"
@model PRN221_BirthdayBookingParty.Pages.ServiceCreateModel

<br>
<h1>Create New Service</h1>
<br>

<form method="post">
    <div class="form-group">
        <label for="ServiceName">Service Name:</label>
        <input type="text" class="form-control" asp-for="ServiceName" required>
    </div>

    <div class="form-group">
        <label for="PackageId">Package Name:</label>
        <select class="form-control" asp-for="PackageId" required>
            <option value="">Select Package</option>
            @foreach (var package in Model.Packages)
            {
                <option value="@package.PackageId">@package.PackageName</option>
            }
        </select>
    </div>

    <br>
    <div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-page="./ServiceList">Back to List</a>
    </div>
    
</form>
