@page
@model PRN221_BirthdayBookingParty.Pages.ServiceDeleteModel
@{
         <div class="container mt-4">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="card-title">Delete Confirmation</h1>
                                        <p class="card-text">Are you sure you want to delete service with name: <strong>@Model.Service.ServiceName</strong>?</p>
                                <form method="POST">
                                                <button asp-route-id="@Model.Service.ServiceName" type="submit" class="btn btn-danger">OK</button>
                                        <a asp-page="/ServiceManagement" class="btn btn-primary">Cancel</a>
                                </form>
                            </div>
                        </div>
                    </div>
}

