<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PRN221_BirthdayBookingParty</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PRN221_BirthdayBookingParty.styles.css" asp-append-version="true" />

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="~/css/tiny-slider.css" rel="stylesheet">
		<link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">PRN221_BirthdayBookingParty</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> *@

	@{
		var isAdmin = Context.Session.Keys.Contains("ADMIN");
		var isCustomer = Context.Session.Keys.Contains("CUSTOMER");
		var isHost = Context.Session.Keys.Contains("HOST");

	}
    <!-- Start Header/Navigation -->
        <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

            <div class="container">
				<a class="navbar-brand" asp-page="/Index">BirthdayBooking<span></span></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsFurni">
                    <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						@if (!isAdmin && !isHost && !isCustomer)
						{
						<li class="nav-item active">
							<a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
							<li><a class="nav-link text-dark" asp-area="" asp-page="/AboutUs">About Us</a></li>
							<li><a class="nav-link text-dark" asp-area="" asp-page="/PrivacyPolicy">Privacy Policy</a></li>
						</li>
						}
						
						@if (isAdmin)
						{
							<li><a class="nav-link text-dark" asp-area="" asp-page="/CustomerManagement">Customer</a></li>
							<li><a class="nav-link text-dark" asp-area="" asp-page="/HostManagement">Host</a></li>
							<li><a class="nav-link text-dark" asp-area="" asp-page="/BookingList">Booking</a></li>
							<li><a class="nav-link text-dark" asp-area="" asp-page="/RoomManagement">Room</a></li>
							<li><a class="nav-link text-dark" asp-area="" asp-page="/PackageManagement">Package</a></li>
						}

						@if (isCustomer)
						{
							<li><a class="nav-link text-dark" asp-area="" asp-page="/ProfileCustomer">Profile</a></li>
							<li><a class="nav-link text-dark" asp-area="" asp-page="/BookingList">Booking List</a></li>
							<li><a class="nav-link text-dark" asp-area="" asp-page="/ServiceList">Service List</a></li>
							<li><a class="nav-link text-dark" asp-area="" asp-page="/PackageManagement">Package List</a></li>
						}

						@if (isHost)
						{
<<<<<<< HEAD
							<li><a class="nav-link text-dark" asp-area="" asp-page="/BookingList">Booking List</a></li>
							<li><a class="nav-link text-dark" asp-area="" asp-page="/ServiceList">Service List</a></li>
							<li><a class="nav-link text-dark" asp-area="" asp-page="/PackageList">Package List</a></li>
							<li><a class="nav-link text-dark" asp-area="" asp-page="/Room">Rooms List</a></li>
						}
				</ul>
=======
						<li><a class="nav-link text-dark" asp-area="" asp-page="/BookingList">Booking List</a></li>
						<li><a class="nav-link text-dark" asp-area="" asp-page="/ServiceList">Service List</a></li>
						<li><a class="nav-link text-dark" asp-area="" asp-page="/PackageManagement">Package List</a></li>
						<li><a class="nav-link text-dark" asp-area="" asp-page="/RoomManagement">Room List</a></li>
					}

                    </ul
>>>>>>> 5f110c8328ea46305b3ac9ef60a7f751c450210f
                </div>
            </div>
		@if (isAdmin || isCustomer || isHost)
		{
			<li class="nav-item" style="list-style-type: none">
			<form id="logoutForm" asp-page="/Logout" method="post">
				<button type="submit" class="btn btn-primary">Logout</button>
			</form>
		</li>
		}
		else
		{
		<li class="nav-item" style="list-style-type: none"  >
			<a class="nav-link text-dark" asp-page="/Login">Login</a>
		</li>
		}
        </nav>
        <!-- End Header/Navigation -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PRN221_BirthdayBookingParty - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer> *@
	<!-- Start Footer Section -->
		<footer class="footer-section">
			<div class="container relative">

				<div class="row g-5 mb-5">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">BirthdayBooking<span></span></a></div>
						<p class="mb-4">Create an unforgettable birthday party experience for children, full of joy and cherished memories. Our Birthday Party Booking service for kids aims to provide a magical celebration customized to the interests and desires of the child. We aim to make your child's special day even more special. Let us take care of the planning and organization, while you enjoy seeing the happy faces of your child shining with joy amidst the fun with friends and family.</p>

						<ul class="list-unstyled custom-social">
							<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
						</ul>
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a asp-page="/AboutUs">About us</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="#">Contact us</a></li>
									<li><a asp-area="" asp-page="/PrivacyPolicy">Privacy Policy</a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved.</a> Distributed By <a  href="#">BookingPartyForKids</a>  <!-- License information: https://untree.co/license/ -->
			</p>
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
		</footer>
		<!-- End Footer Section -->	

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/tiny-slider.js"></script>
		<script src="js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>